* {
    margin: 0; 
    padding: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tabs { 
    position: relative; 
    width: 100%; 
}

.tabs .title {
    padding: 50px 20px 100px; 
    text-align: center; 
    font-size: 24px; 
    color: ghostwhite; 
    background: crimson; 
}

.tabs .tab-header, 
.tabs .tab-indicator, 
.tabs .tab-body {
    margin: 0 auto; 
    max-width: 650px; 
    width: 100%;
}

.tabs .tab-header {
    position: relative; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    height: 55px; 
    margin-top: -55px;
    z-index: 2
}


.tabs .tab-header > div { 
    width: 25%;
    text-align: center; 
    padding: 15px 0px; 
    color: ghostwhite; 
    font-size: 16px; 
    cursor: pointer; 
    transition: color 350ms ease-in-out; 
}

.tabs .tab-header > div.active { 
    color: crimson; 
}

.tabs .tab-indicator {
    position: relative; 
    height: 55px; 
    margin-top: -55px; 
}

.tabs .tab-indicator > div {
    position: absolute; 
    left: 0%; 
    width: 25%; 
    height: 100%; 
    background: ghostwhite; 
    border-radius: 10px 10px 0px 0px; 
    transition: all 350ms ease-in-out; 
}


.tabs .tab-body {
    position: relative; 
}


.tabs .tab-body > div { 
    position: absolute; 
    width: 100%; 
    padding: 20px; 
    opacity: 0; 
    top: -100vh; 
}


.tabs .tab-body > div > * {
    margin: 10px 0px; 
}


.tabs .tab-body > div > p {
    color: #222; 
    font-size: 14px; 
}


.tabs .tab-body > div.active { 
    top: 0px; 
    opacity: 1; 
    transition: top 0ms ease-in-out 0ms, 
       /*  opacity 500ms ease-in-out 0ms */;
}


.tabs .tab-header > div {
    width: 25%; 
    text-align: center; 
    padding: 14px 0px; 
    color: ghostwhite; 
    font-size: 16px; 
    font-weight: 600;
    cursor: pointer; 
    transition: color 300ms ease-in-out;
}

.tabs .tab-header > div.active { 
    color: crimson; 
}

.tabs .tab-indicator {
    position: relative; 
    height: 55px; 
    margin-top: -55px;
}



.tabs .tab-indicator > div {
    position: absolute; 
    left: 0%; 
    width: 25%;
    height: 100%; 
    background: ghostwhite;
    border-radius: 10px 10px 0px 0px; 
    transition: all 350ms ease-in-out;
}





